html, body {
  margin: 0;
  padding: 0;
  font-family: 'Comic Neue', cursive;
}
canvas {
  display: block;
}

body{
  
  
}
p {
  
  margin-left: 30px
}

h1{
  font-size: 50px;
  /*style:"text-align:center;*/
  
}

div{
  
}

html{
  
  scroll-behavior: smooth
}

#introSection{
  height: 400px;
  background-color: rgb(200,250,255);
}

#section2{
  height: 600px;
  background-color: rgb(100,100,100);
  
}
